//Colors
$gray: #F2F2F2;
$yellow: #F0CB09;
$dark_gray: #403C34;
$navy: #37306B;
$purple: #66347F;
$light_purple: #9E4784;
$peach: #D27685;
$black: #212121;
$white: #E8E8E8;

//Fonts
$main_font: 'Open Sans', sans-serif;

//sizes
$phone: 480px;
$tablet: 768px;
$desktop: 992px;