@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    background-color: v.$navy;
    padding: 2rem 0;
    .barra-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include m.mediaQuery(v.$phone) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        
        img {
            width: 40%;
            @include m.mediaQuery(v.$phone) {
                width: 20%;
            }
            height: 5%;
        }
        .cart {
            width: 5rem;
            height: 5rem;

            &:hover {
                cursor: pointer;
            }
        }
        
    }
}